#header {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

h3{
  font-size: 34px;
}

.footer{
  margin: 10px 0;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  .spacer {
    flex: 1 1 auto;
  }
}
